@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './fluxUI.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';


@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";


@plugin "daisyui" {
    include: steps;
}